<form action="/new" method="POST" class="card bg-dark text-light">

<div class="card-body p-2">
    <div class="mb-2">
        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" placeholder="write your full name" class="form-control rounder-10 
        bg-dark border-1 text-white" />
    </div>

    <div class="mb-2">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="write your email" class="form-control rounder-10 
        bg-dark border-1 text-light" />
    </div>

    <div class="mb-2">
        <label for="phone">Phone:</label>
        <input type="text" name="phone" placeholder="write your phone" class="form-control rounder-10 
        bg-dark border-1 text-light" />
    </div>

    <button class="btn btn-light ">Save</button>
</div>
    
</form>